name: Node CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        version: [18, 20]
        

    steps:
      - uses: actions/checkout@v4

      - name: Node qurasdir
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}
          cache: "npm"

      - name: Paketleri yukle
        run: npm ci

      - name: Build
        run: npm run build
      - name: Lint
        run: npm run lint

      - name: Artifact download et dist
        uses: actions/download-artifact@v3
        with:
          name: dist-node-${{ matrix.version }}
          path: dist/
          if-no-files-found: warn