name: First Workflow

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Write Messagge
        run: echo "hello"

      - name: Date
        run: date
